extends layout

block content
    h1 New Basic User
    form(method='post')
        .form-group
            input.form-control(type="text", name="username", placeholder="Username")
        .form-group
            input.form-control(type="text", name="password", placeholder="Password")

        button.btn.btn-primary(type="submit") Add